.product-page .MuiPaper-root.MuiPaper-elevation {
  margin: 4rem auto;
}

.price.MuiTypography-root.MuiTypography-body1 {
  font-weight: bold;
}

.MuiRating-root.MuiRating-sizeMedium * {
  color: var(--secondary-color);
}

@media (min-width: 600px) {
  .product-page .MuiPaper-root.MuiPaper-elevation {
    display: flex;
    align-items: center;
  }

  .product-page .MuiBox-root {
    min-width: 20rem;
    width: 40%;
    flex-shrink: 0;
  }
}
